.single-conteiner
  .single-header
    %h1
      = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3761641567'), root_path
    %nav.progress-bar
      %ol.clearfix
        %li.btn1
          会員情報
          .status1
        %li.btn2
          電話番号認証
          .status2
        %li.btn3
          お届け先住所登録
          .status3
        %li.btn4
          支払い方法
          .status4
        %li.btn5
          完了
          .status5
    -# 上記がヘッダーの記述 
  .single-main
    %section.container
      %h2.single-head
        電話番号の確認
      = form_for(@user, local: true, url: sign_ups_path, html: {method: :post}) do |f|
        .single-content
          .form-group
            %label
              携帯電話の番号
            = f.text_field :phone, placeholder: "電話番号の番号を入力", class: "input-default"
            = render partial: 'layouts/error_messages', locals: {user: @user, column: "phone"}
          %p.sms-confirmation__text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit "SMSを送信する", class: "next-btn"
          %p.sms-confirmation__text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form-group2
            %p
              = link_to('#', class: 'register-link') do
                電話番号の確認が必要な理由
                = fa_icon('angle-right', class: 'register-link__icon')
  = render 'shared/exhibition-page-footer' 