%ul.icon-box
  %li
    = link_to '#' do
      = fa_icon 'facebook-official', class: 'fa-facebook'
  %li
    = link_to '#' do
      = fa_icon 'twitter', class: 'fa-twitter'
  %li   
    = link_to '#' do
      = fa_icon 'pinterest', class: 'fa-pinterest'