%body  
  %header.main-header
    .main-header__inner
      .main-header__inner__top
        =link_to image_tag('https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', width: '134', height: '36', class: 'main-header__inner__top__img' ), root_path
        = form_tag(search_mains_path, method: :get,class: "main-header__inner__top__form") do
          %input{type: "search", name: "keyword", placeholder: "何かお探しですか?", class: "main-header__inner__top__form__input"}
          %button.main-header__inner__top__form__input__search
            = fa_icon "search", class: 'main-header__inner__top__form__input__search__icon'
      .main-header__inner__nav
        .main-header__inner__nav__search
          .main-header__inner__nav__search__category
            = link_to '#', class: 'main-header__inner__nav__search__category__link' do
              = fa_icon "list-ul", class: 'main-header__inner__nav__search__category__link__icon' 
              %p.header1
                カテゴリーから探す
          .main-header__inner__nav__search__brand
            = link_to '#', class: 'main-header__inner__nav__search__brand__link' do
              %i.fa.fa-tag.main-header__inner__nav__search__brand__link__icon{"aria-hidden": "true"}
              %p.header2
                ブランドから探す
        - if user_signed_in?
          .main-header__inner__nav__menu
            .main-header__inner__nav__menu__like
              =link_to like_list_user_mypage_path(current_user), class: 'main-header__inner__nav__menu__like__link' do
                = fa_icon "heart-o", class: 'main-header__inner__nav__menu__like__link__icon'
                %span.header3 いいね！ 一覧
            .main-header__inner__nav__menu__notification
              =link_to notice_user_mypage_path(current_user), class: 'main-header__inner__nav__menu__notification__link' do
                = fa_icon 'bell-o', class: 'main-header__inner__nav__menu__notification__link__icon'
                %span.header4 お知らせ
            .main-header__inner__nav__menu__todo
              =link_to todo_list_user_mypage_path(current_user), class: 'main-header__inner__nav__menu__todo__link' do
                = fa_icon 'check', class: 'main-header__inner__nav__menu__todo__link__icon'
                %span.header5 やることリスト
            .main-header__inner__nav__menu__mypage
              =link_to user_mypage_path(current_user), class: 'main-header__inner__nav__menu__mypage__link' do
                = image_tag('member_photo_no-image.png' , class: 'main-header__inner__nav__menu__mypage__link__icon')
                %span.header6 マイページ
        - else
          .main-header__inner__nav__un-login
            .main-header__inner__nav__un-login__new
              = link_to('新規会員登録', new_sign_up_path(current_user), class: 'main-header__inner__nav__un-login__new--link')
            .main-header__inner__nav__un-login__login
              = link_to('ログイン', new_user_session_path(current_user), class: 'main-header__inner__nav__un-login__login--link')
