%body  
  %header.main-header
    .main-header__inner
      .main-header__inner__top
        =link_to image_tag('https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', :width => '134', :height => '36', class: 'main-header__inner__top__img' ), '/'
        %form{:action => "/", :method => "post", :class => "mein-header__inner__top__form" }
          %input{:type => "search", :name => "keyword", :placeholder => "何かお探しですか?", :class => "main-header__inner__top__form__input"}
            =link_to '#', class: 'main-header__inner__top__form__input__search' do
              = fa_icon "search", class: 'main-header__inner__top__form__input__search__icon'
      .main-header__inner__nav
        .main-header__inner__nav__search
          .main-header__inner__nav__search__category
            =link_to '#', class: 'main-header__inner__nav__search__category__link' do
              = fa_icon "list-ul", class: 'main-header__inner__nav__search__category__link__icon'
              カテゴリーから探す
          .main-header__inner__nav__search__brand
            =link_to '#', class: 'main-header__inner__nav__search__brand__link' do
              %i.fa.fa-tag.main-header__inner__nav__search__brand__link__icon{"aria-hidden": "true"}
              ブランドから探す
        .main-header__inner__nav__menu
          .main-header__inner__nav__menu__like
            =link_to '#', class: 'main-header__inner__nav__menu__like__link' do
              = fa_icon "heart-o", class: 'main-header__inner__nav__menu__like__link__icon'
              いいね！ 一覧
          .main-header__inner__nav__menu__notification
            =link_to '#', class: 'main-header__inner__nav__menu__notification__link' do
              = fa_icon 'bell-o', class: 'main-header__inner__nav__menu__notification__link__icon'
              お知らせ
          .main-header__inner__nav__menu__todo
            =link_to '#', class: 'main-header__inner__nav__menu__todo__link' do
              = fa_icon 'check', class: 'main-header__inner__nav__menu__todo__link__icon'
              やることリスト
          .main-header__inner__nav__menu__mypage
            =link_to '#', class: 'main-header__inner__nav__menu__todo__link' do
              = image_tag('member_photo_no-image.png' , class: 'main-header__inner__nav__menu__todo__link__icon')
              マイページ