.main-container__contents
  %section.main-container__contents__user-icon
    = link_to('#', onclick: 'return false', class: 'main-container__contents__user-icon__link') do
      %figure.main-container__contents__user-icon__link__icon
        = image_tag('member_photo_no-image.png', :width => '60', :height => '60', class: 'main-container__contents__user-icon__link__icon__img' )
      %h2.main-container__contents__user-icon__link__name テスト
      .main-container__contents__user-icon__link__number
        .main-container__contents__user-icon__link__number__review 評価
        %span.main-container__contents__user-icon__link__number__review__number 0
        .main-container__contents__user-icon__link__number__sell 出品数
        %span.main-container__contents__user-icon__link__number__sell__number 0
  %section.main-container__contents__notification-todo
    %ul.main-container__contents__notification-todo__tabs
      %li.main-container__contents__notification-todo__tabs__notice
        %h3.main-container__contents__notification-todo__tabs__notice__1
          = link_to 'おしらせ', '/' , class: 'main-container__contents__notification-todo__tabs__notice__1__link'
      %li.main-container__contents__notification-todo__tabs__todo
        %h3.main-container__contents__notification-todo__tabs__todo__1
          = link_to 'やることリスト', '/' , class: 'main-container__contents__notification-todo__tabs__todo__1__link'
    .main-container__contents__notification-todo__content
      %ul.main-container__contents__notification-todo__content__active
        %li.main-container__contents__notification-todo__content__active__found-not 現在、お知らせはありません
  %section.main-container__contents__purchaced
    %h2.main-container__contents__purchaced__head-tab 購入した商品
    %ul.main-container__contents__purchaced__tabs
      %li.main-container__contents__notification-todo__tabs__notice
        %h3.main-container__contents__notification-todo__tabs__notice__1
          = link_to '取引中', '/' , class: 'main-container__contents__notification-todo__tabs__notice__1__link'
      %li.main-container__contents__notification-todo__tabs__todo
        %h3.main-container__contents__notification-todo__tabs__todo__1
          = link_to '過去の商品', '/' , class: 'main-container__contents__notification-todo__tabs__todo__1__link'
    .main-container__contents__notification-todo__content
      %ul.main-container__contents__notification-todo__content__active
        %li.main-container__contents__notification-todo__content__active__found-not 取引中の商品はありません
        