.wrapper__sidebar
  %nav.wrapper__sidebar__nav
    %ul.wrapper__sidebar__nav__list
      %li.wrapper__sidebar__nav__list__1
        = link_to(user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          マイページ
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(notice_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          お知らせ
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(todo_list_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          やることリスト
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(like_list_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          いいね！一覧
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(new_item_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          出品する
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(items_selling_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          出品した商品-出品中
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(items_during_trading_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          出品した商品-取引中
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(items_sold_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          出品した商品-売却済み
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(bought_during_trading_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          購入した商品-取引中
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to(bought_past_trade_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list__1__link') do
          購入した商品-過去の取引
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to('#', onclick: 'return false', class: 'wrapper__sidebar__nav__list__1__link') do
          ニュース一覧
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to('#', onclick: 'return false', class: 'wrapper__sidebar__nav__list__1__link') do
          評価一覧
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to('#', onclick: 'return false', class: 'wrapper__sidebar__nav__list__1__link') do
          ガイド
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
      %li.wrapper__sidebar__nav__list__1
        = link_to('#', onclick: 'return false', class: 'wrapper__sidebar__nav__list__1__link') do
          お問い合わせ
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list__1__link__icon'
    %h3.wrapper__sidebar__nav__title メルペイ
    %ul.wrapper__sidebar__nav__list2
      %li.wrapper__sidebar__nav__list2__1
        = link_to('#', onclick: 'return false', class: 'wrapper__sidebar__nav__list2__1__link') do
          売上・振込申請
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list2__1__link__icon'
      %li.main-container__side-bar__nav__list2__1
        = link_to('#', onclick: 'return false', class: 'wrapper__sidebar__nav__list2__1__link') do
          ポイント
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list2__1__link__icon'
    %h3.wrapper__sidebar__nav__title 設定
    %ul.wrapper__sidebar__nav__list3
      %li.wrapper__sidebar__nav__list3__1
        = link_to(profile_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          プロフィール
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
      %li.main-container__side-bar__nav__list3__1
        = link_to(shipping_address_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          発送元・お届け先住所変更
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
      %li.main-container__side-bar__nav__list3__1
        = link_to(payment_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          支払い方法
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
      %li.main-container__side-bar__nav__list3__1
        = link_to(update_email_pass_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          メール/パスワード
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
      %li.main-container__side-bar__nav__list3__1
        = link_to(personal_info_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          本人情報
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
      %li.main-container__side-bar__nav__list3__1
        = link_to(confirm_phone_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          電話番号の確認
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
      %li.main-container__side-bar__nav__list3__1
        = link_to(logout_user_mypage_path(current_user), class: 'wrapper__sidebar__nav__list3__1__link') do
          ログアウト
          = fa_icon 'angle-right', class: 'wrapper__sidebar__nav__list3__1__link__icon'
