= render 'shared/login-header'
- breadcrumb :confirm_phone
= render 'layouts/breadcrumbs'
.wrapper
  = render 'mypages/mypage-sidebar2'
  .left-content
    %section.left-container
      %h2.left-container__head 完了
      .left-container__text-center
        %p.left-container__text-center--font 確認済みです
= render 'shared/exhibition-button'
= render 'shared/app-banner'
= render 'shared/footer'