= render 'shared/login-header'
.wrapper
  = render 'mypages/mypage-sidebar2'
  .left-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 出品した商品
      %ul.listing-tabs
        %li.non-active
          %h3.font
            = link_to('出品中', items_selling_user_mypage_path(current_user), class: 'font__link')
        %li.active
          %h3.font
            = link_to('取引中', items_during_trading_user_mypage_path(current_user), class: 'font__link')
        %li.non-active
          %h3.font
            = link_to('売却済み', items_sold_user_mypage_path(current_user), class: 'font__link')
      .tab-content
        %ul.mypage-item-list
          %li.mypage-item-not-found
            取引中の商品がありません
= render 'shared/exhibition-button'
= render 'shared/app-banner'
= render 'shared/footer'