= render 'shared/login-header'
- breadcrumb :like_list
= render 'layouts/breadcrumbs'
.wrapper
  = render 'mypages/mypage-sidebar2'
  .left-content
    %section.left-container
      %h2.left-container__head いいね！ 一覧
      %ul.mypage-item-list
        %li.mypage-item-list__1
          現在、いいねした商品はありません。
= render 'shared/exhibition-button'
= render 'shared/app-banner'
= render 'shared/footer'