= render 'shared/login-header'
.wrapper
  = render 'mypages/mypage-sidebar2'
  .wrapper__contents
    .wrapper__contents__inner
      .wrapper__contents__inner__box
        .wrapper__contents__inner__box__content
          = link_to('ログアウト', destroy_user_session_path, method: :delete, class: 'wrapper__contents__inner__box__content__link')
= render 'shared/exhibition-button'
= render 'shared/app-banner'
= render 'shared/footer'