-# マイページの クレジットカード一覧クレジットカードを追加する支払い方法についてのビューの作成
= render 'shared/login-header'
.main-container
  = render partial: "users/mypage-sidebar"
  .main-container__chapter
    .main-container__chapter__header
      支払い方法
    .main-container__chapter__content-before
      %section.main-container__chapter__content-before__section
        .main-container__chapter__content-before__section__sub-header
          クレジットカード一覧
        %ul.main-container__chapter__content-befoe__section__list
      .main-container__chapter__content-before__sub-content
        = link_to new_credit_card_path ,class: 'main-container__chapter__content-before__sub-content__credit-add' do
          %button.main-container__chapter__content-before__sub-content__credit-add__botton{:type => "button"}
            = fa_icon'credit-card', class: 'main-container__chapter__content-before__sub-content__credit-add__botton__icon'
            %span.main-container__chapter__content-before__sub-content__credit-add__botton__add クレジットカードを追加する
      .main-container__chapter__content-before__method
        = link_to '#',class: 'main-container__chapter__content-before__method__link' do
          %span.main-container__chapter__content-before__method__link__span 支払い方法について
          = fa_icon'chevron-right'
= render 'shared/app-banner'
= render 'shared/footer'