= render 'shared/exhibition-page-header'
.main
  .login-panel
    .login-no-account
      %p アカウントをお持ちでない方はこちら
      = link_to '/' do
        新規会員登録
    .login-form-inner
      = link_to('/', class: 'login-form-inner__btn1') do
        = fa_icon 'facebook-official', class: 'login-form-inner__btn1__icon'
        Facebookでログイン
      = link_to('/', class: 'login-form-inner__btn2') do
        = image_tag('https://www.mercari.com/jp/assets/img/common/common/google.svg', class: 'login-form-inner__btn2__icon') 
        Googleでログイン
    %form
      .login-form-inner
        .form-group1
          %input{placeholder: "メールアドレス", class: "form-group1__text"}
        .form-group2
          %input{placeholder: "パスワード", class: "form-group2__text"}
        .form-group3
          %script{async: "", defer: "", src: "https://www.google.com/recaptcha/api.js"}
          %form{action: "./verify.php", method: "POST"}
            .g-recaptcha{"data-sitekey" => "6LfItL0UAAAAADbmj0JHEFPkR7y5EOwZFUI1Q6-c"}
        = link_to('/', class: 'login-form-inner__btn') do
          ログイン
        = link_to 'パスワードをお忘れの方', '/', class: 'login-form-inner__link'
= render 'shared/exhibition-page-footer'