.top-page
  .top-page__trendy-box.slick
    .top-page__trendy-box__article
      .top-page__trendy-box__article__i-box
        = image_tag('https://mercarinews.files.wordpress.com/2019/11/sns.jpg', class: 'news') 
    .top-page__trendy-box__article2
      .top-page__trendy-box__article2__ibox2
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?1855818912', class: 'camp')
    .top-page__trendy-box__article3
      .top-page__trendy-box__article3__ibox3
        .top-page__trendy-box__article3__ibox3__contents
          .top-page__trendy-box__article3__ibox3__contents__first-sentence 
            %p スマホで かんたん 
            フリマアプリ
          .top-page__trendy-box__article3__ibox3__contents__second-sentence
            %p メルカリはスマホカメラからすぐに出品できる
            購入時も安心な独自システムのアプリです
          .top-page__trendy-box__article3__ibox3__contents__icons
            .top-page__trendy-box__article3__ibox3__contents__icons__app-store
              = image_tag('https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: 'app-store')
            .top-page__trendy-box__article3__ibox3__contents__icons__google-play
              = image_tag('https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class: 'google-play')
        = image_tag('https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png', class: 'phone')
          
  -unless @publishing_item.blank?          
    .top-page__popular-categories
      .top-page__heading-line
        人気のカテゴリー 
      %ul.top-page__menu
        - @categories.each do |category| 
          %li.top-page__menu__item
            = link_to category.name, '#'

  .top-page__new-items
    -unless @categories[0].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@categories[0].name}新着アイテム"
          -if @items1.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#' 
        .top-page__category__largebox
          - @items1.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }
    -unless @categories[1].nil?   
      .top-page__category
        .top-page__category__new-items
          = "#{@categories[1].name}新着アイテム"
          -if @items2.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#' 
        .top-page__category__largebox
          - @items2.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }

    -unless @categories[2].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@categories[2].name}新着アイテム"
          -if @items3.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#'
        .top-page__category__largebox
          - @items3.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }
    -unless @categories[3].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@categories[3].name}新着アイテム"
          -if @items4.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#'
        .top-page__category__largebox
          - @items4.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }

  -unless @brands.blank?          
    .top-page__popular-categories
      .top-page__heading-line
        人気のブランド
      %ul.top-page__menu
        - @brands.each do |brand| 
          %li.top-page__menu__item
            = link_to brand.name, '#'

  .top-page__new-items
    -unless @brands[0].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@brands[0].name}新着アイテム"
          -if @items5.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#' 
        .top-page__category__largebox
          - @items5.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }

    -unless @brands[1].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@brands[1].name}新着アイテム"
          -if @items6.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#' 
        .top-page__category__largebox
          - @items6.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }

    -unless @brands[2].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@brands[2].name}新着アイテム"
          -if @items7.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#' 
        .top-page__category__largebox
          - @items7.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }

    -unless @brands[3].nil?
      .top-page__category
        .top-page__category__new-items
          = "#{@brands[3].name}新着アイテム"
          -if @items8.length >= 6
            .top-page__category__new-items__more
              = link_to 'もっと見る ＞', '#' 
        .top-page__category__largebox
          - @items8.first(5).each do |item|
            = render partial: 'items/categorybox', locals: { item: item }                                   

  = render 'shared/exhibition-button'