.top-page
  .top-page__trendy-box
    = link_to '#' do
      .top-page__trendy-box__article
        = image_tag('//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464', width: '680px', height: '390px')
        .top-page__trendy-box__article__back-button
          ＜
        .top-page__trendy-box__article__forward-button
          ＞
        .top-page__trendy-box__article__dot-left
          ●
        .top-page__trendy-box__article__dot-right
          ○
  .top-page__popular-categories
    .top-page__heading-line
      人気のカテゴリー
    %ul.top-page__menu
      %li.top-page__menu__item
        = link_to "レディース", '#'
      %li.top-page__menu__item
        = link_to "メンズ", '#'
      %li.top-page__menu__item
        = link_to "家電・スマホ・カメラ", '#'
      %li.top-page__menu__item
        = link_to "おもちゃ・ホビー・グッズ", '#'
    
  .top-page__new-items
    .top-page__category
      .top-page__category__new-items
        レディース新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#' 
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
      -# とりあえず部分テンプレートで出力をしたけどレディース、メンズ、とかに分ける必要がありそう。
    .top-page__category
      .top-page__category__new-items
        メンズ新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#' 
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'

    .top-page__category
      .top-page__category__new-items
        家電・スマホ・カメラ新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#'
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'

    .top-page__category
      .top-page__category__new-items
        おもちゃ・ホビー・グッズ新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#'
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
      
  .top-page__popular-categories
    .top-page__heading-line
      人気のブランド
    %ul.top-page__menu
      %li.top-page__menu__item
        = link_to "シャネル", '#'
      %li.top-page__menu__item
        = link_to "ルイヴィトン", '#'
      %li.top-page__menu__item
        = link_to "シュプリーム", '#'
      %li.top-page__menu__item
        = link_to "ナイキ", '#'

  .top-page__new-items
    .top-page__category
      .top-page__category__new-items
        シャネル新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#' 
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
      -# とりあえず部分テンプレートで出力をしたけどレディース、メンズ、とかに分ける必要がありそう。
    .top-page__category
      .top-page__category__new-items
        ルイヴィトン新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#' 
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'

    .top-page__category
      .top-page__category__new-items
        シュプリーム新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#'
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'

    .top-page__category
      .top-page__category__new-items
        ナイキ新着アイテム
        .top-page__category__new-items__more
          = link_to "もっと見る ＞", '#'
      .top-page__category__largebox
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'
        = render 'items/categorybox'

  .top-page__exhibit_red-button
    = link_to '#' do
      .top-page__exhibit_button
        %p 出品
        = fa_icon 'camera', class: 'exhibit'
      