%section.items-box
  = link_to '#' do
    = image_tag images.image
    .items-box__body
      %h3
        = items.name
      .items-box__body__num
        .items-box__body__num__price
          = "¥#{items.price.to_s(:delimited, delimiter: ',')}" 
        .items-box__body__num__iine
          = fa_icon 'heart-o', class: 'item-heart'
          %span 10     