%section.items-box
  = link_to '#', class: 'items-box__link' do
    .items-box__link__gazo 
      = image_tag images.image 
      - if items.buyer_id
        .minisoldout
          .minitext
            SOLD
    .items-box__body
      %h3
        = items.name
      .items-box__body__num
        .items-box__body__num__price
          = "¥#{items.price.to_s(:delimited, delimiter: ',')}" 
        .items-box__body__num__iine
          = fa_icon 'heart-o', class: 'item-heart'
          %span 10     