.display-main
  %section.display-main__container
    .single-head 商品の情報を入力
    = form_for(@item, url: items_path, html:{method: :post}) do |f|
      .upload-box
        %h3.upload-box__sub-head
          出品画像
          %span.form-require 必須
        %p.max 最大10枚までアップロードできます
        .upload-box__dropbox.cleafix
          = f.fields_for :images do |i|
            = i.label :image, class: 'label-hide form-mask-image' do
              .form-mask-image
                .upload-container__file-box
                  = i.file_field :image, class: 'upload-container__file'
                %pre.upload-container--sentence 
                  クリックしてファイルをアップロード
      .item-base
        .item-name
          %label.form-label
            商品名
            %span.form-require 必須
          = f.text_field :name, class: 'item-name__f-name',placeholder: "商品名 （必須 40文字まで）", required: true, maxlength: 40
        .item-introduction
          %label.form-label
            商品名
            %span.form-require 必須
          = f.text_area :description, class: 'item-introduction__f-text', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", required: true, maxlength: 1000
      .item-content.cleafix
        %h3.sub-head 商品の詳細
        .detail-box
          .form-group1
            %label.form-group1__label
              カテゴリー
            %span.form-group1__require 必須
            .form-group1__pulldown
              = fa_icon 'chevron-down', class: 'form-group1__pulldown--icon'
              = f.collection_select :parent_id, @category_parents, :id, :name, {prompt: "--"}, class: 'form-group1__pulldown--choices', id: 'parent_category', required: true
            .form-group1__pulldown.hide#category-child-1
              = fa_icon 'chevron-down', class: 'form-group1__pulldown--icon'
              = f.collection_select :child_id, {}, :id, :name, {prompt: "--"}, class:'form-group1__pulldown--choices', id: 'child_category', required: true
            .form-group1__pulldown.hide#category-child-2
              = fa_icon 'chevron-down', class: 'form-group1__pulldown--icon'
              = f.collection_select :category_id, {}, :id, :name, {prompt: "--"}, class:'form-group1__pulldown--choices', id: 'grandchild_category'
          .form-group2
            %label.form-group2__label
              商品の状態
            %span.form-group2__require 必須
            .form-group2__pulldown
              = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "--"}, class: 'form-group2__pulldown--choices', required: true
              =fa_icon 'chevron-down', class: 'form-group2__pulldown--icon'
      .item-content.cleafix
        %h3.sub-head 配送について
        =link_to '#', class: 'sub-head--question' do
          =fa_icon 'question-circle'
        .detail-box
          .form-group1
            %label.form-group1__label
              配送料の負担
            %span.form-group1__require 必須
            .form-group1__pulldown
              = f.collection_select :shipping_fee_id, ShippingFee.all, :id, :name, {prompt: "--"}, class: 'form-group1__pulldown--choices', required: true
              =fa_icon 'chevron-down', class: 'form-group1__pulldown--icon'
          .form-group2
            %label.form-group2__label
              配送の方法
            %span.form-group2__require 必須
            .form-group2__pulldown
              = f.collection_select :shipping_form_id, ShippingForm.all, :id, :name, {prompt: "--"}, class: 'form-group2__pulldown--choices', required: true
              =fa_icon 'chevron-down', class: 'form-group2__pulldown--icon'
          .form-group2
            %label.form-group2__label
              発送元の地域
            %span.form-group2__require 必須
            .form-group1__pulldown
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "--"}, class: 'form-group2__pulldown--choices', required: true
              =fa_icon 'chevron-down', class: 'form-group2__pulldown--icon'
          .form-group2
            %label.form-group2__label
              発送までの日数
            %span.form-group2__require 必須
            .form-group1__pulldown
              = f.collection_select :days_before_shipping_id, DaysBeforeShipping.all, :id, :name, {prompt: "--"}, class: 'form-group2__pulldown--choices', required: true
              =fa_icon 'chevron-down', class: 'form-group2__pulldown--icon'
      .item-content.cleafix
        %h3.sub-head 販売価格(300〜9,999,999)
        =link_to '#', class: 'sub-head--question' do
          =fa_icon 'question-circle'
        .detail-box
          %ul.ul-box
            %li.price-form
              %label.form-label
                価格
                %span.form-require 必須
              .yen
                ¥
                .yen__box
                  = f.text_field :price, class: 'price-input',placeholder: "例）300", required: true,  maxlength: 7
            %li.sell-form.clearfix
              .sell-form__sentence
                販売手数料 (10%)
              .sell-form__fee -
            %li.sell-form.clearfix
              .sell-form__bold
                販売利益
              .sell-form__gain -
      .sell-Prohibited
        .sell-Prohibited__points
          %p
            =link_to "禁止されている出品", '#'
            、
            =link_to "行為", '#'
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売", '#'
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約",'#'
            に同意したことになります。
        = f.submit "出品する", {class: 'item-sell-btn'}
        =link_to "もどる", root_path, class: 'top-return-btn'

