.product-details
  %section.product-details__main
    %h1.product-details__main__header
      = @item.name
    .product-details__main__item-main-content
      .product-details__main__item-main-content__left-box
        .product-details__main__item-main-content__left-box__m-photo
          = image_tag @item.images[0].image, class: "main-photo", id: "bigphoto"
          - if @item.buyer_id
            .product-details__main__item-main-content__left-box__soldout
              .product-details__main__item-main-content__left-box__soldout__text
                SOLD
        .photo
          - @item.images.each_with_index do |image, index| next if index == 0
            = image_tag @item.images[index].image, class:"sub-photo"         
      %table.product-details__main__item-main-content__right-box
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header 出品者
          %td.product-details__main__item-main-content__right-box__table-row__data
            = link_to @user.nickname
            .product-details__main__item-main-content__right-box__table-row__data__list
              %div
                = fa_icon 'smile-o', class: "good"
                %span 199
              %div
                = fa_icon 'meh-o', class: 'normal'
                %span 1
              %div
                = fa_icon 'frown-o', class: 'bad'
                %span 0
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header カテゴリー
          %td.product-details__main__item-main-content__right-box__table-row__data
            = link_to @category_parent, '#'
            %br/
            = link_to "＞#{@category_child}", '#'
            - if @item.category
              %br/
              = link_to "＞#{@item.category.name}", '#'
              %br/
        - if @item.brand.nil?
          %tr.product-details__main__item-main-content__right-box__table-row
            %th.product-details__main__item-main-content__right-box__table-row__header ブランド
            %td.product-details__main__item-main-content__right-box__table-row__data
        - else     
          %tr.product-details__main__item-main-content__right-box__table-row
            %th.product-details__main__item-main-content__right-box__table-row__header ブランド
            %td.product-details__main__item-main-content__right-box__table-row__data
              = link_to @item.brand.name
        - if @item.size_id
          %tr.product-details__main__item-main-content__right-box__table-row
            %th.product-details__main__item-main-content__right-box__table-row__header 商品のサイズ
            %td.product-details__main__item-main-content__right-box__table-row__data
              = @item.size.name    
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header 商品の状態
          %td.product-details__main__item-main-content__right-box__table-row__data
            = @item.condition.name
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header 配送料の負担
          %td.product-details__main__item-main-content__right-box__table-row__data
            = @item.shipping_fee.name  
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header 配送の方法
          %td.product-details__main__item-main-content__right-box__table-row__data
            = @item.shipping_form.name
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header 配送元地域
          %td.product-details__main__item-main-content__right-box__table-row__data
            = link_to @item.prefecture.name
        %tr.product-details__main__item-main-content__right-box__table-row
          %th.product-details__main__item-main-content__right-box__table-row__header 発送日の目安
          %td.product-details__main__item-main-content__right-box__table-row__data
            = @item.days_before_shipping.name
    .product-details__main__price-box
      %span.product-details__main__price-box__price
        = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
      %span.product-details__main__price-box__tax (税込)
      %span.product-details__main__price-box__shipping-fee 
        = @item.shipping_fee.name.delete'(出品者負担)'   
    - if current_user&.id != @item.seller_id && @item.buyer_id.nil?   
      .product-details__main__buy-btn
        = link_to '購入画面に進む', new_item_purchase_path(@item), class: 'btn product-details__main__buy-btn' 
    - elsif current_user&.id != @item.seller_id && @item.buyer_id  
      .product-details__main__sold 
        %p 売り切れました   
    .product-details__main__explanation
      %p.explanation__innner
        = @item.description

    .product-details__main__button
      .product-details__main__button__button-left
        %button.product-details__main__button__button-left__item-button{type: 'button'}
          = fa_icon 'heart-o', class: 'item-heart'
          %span.iine いいね!
          %span.fade-in-down 0
        = link_to '#', class: 'product-details__main__button__button-left__hokoku' do
          = fa_icon 'flag', class: 'flag-icon'
          %span 不適切な商品の報告  
      .product-details__main__button__button-right
        = link_to '#', class: 'product-details__main__button__button-right__anzen' do
          = fa_icon 'lock', class: 'lock-icon' 
          %span あんしん・あんぜんへの取り組み
  -if current_user&.id == @item.seller_id       
    = render partial: 'items/listing-item-change-box', locals: {item: @item}                        
  .product-details__comment
    .product-details__comment__container
      .product-details__comment__container__messages
        %ul.message-items
          %li.message-item
            - if @item.comments
              - @comments.each do |comment|
                .message-user
                  %figure
                    .message-user-unknown
                      = image_tag("member_photo_noimage_thumb.png")

                    .message-body-continer
                      %p.user-name-string-nickname
                        = comment.user.nickname
                .message-body
                  .message-body__text
                    = comment.content
                  .message-icons
                    .message-icon-left
                      %i.far.fa-clock
                      %span.days-ago
                        = comment.created_at.strftime("%Y/%m/%d %H:%M")
                    .message-icon-right
                      = link_to "" do
                        %i.far.fa-flag
      .product-details__comment__container__content
        = form_for(@comment, url: item_comments_path(@item), html:{class: "product-details__comment__container__content__form"}) do |f|
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :content
          - unless @item.buyer_id
            = f.submit "コメントする", class: "message-submit button-default"
          -else
            .message-submit.button-default.sold-button-comment 売り切れのためコメントできません
  -if current_user&.id != @item.seller_id                    
    .product-details__link
      - if @item.previous.present?
        = link_to item_path(@item.previous.id), class: 'link__left' do
          = fa_icon 'chevron-left', class: 'arrow-left'
          %span.link-left
            = @item.previous.name
      - else
        .hide
      - if @item.next.present?      
        = link_to item_path(@item.next.id), class: 'link__right' do
          %span.link-right
            = @item.next.name
          = fa_icon 'chevron-right', class: 'arrow-right'   
    .product-details__icon
      = render 'shared/icon-box' 
    .product-details__other-items
      - unless @items.blank?
        %section.product-details__other-items__section
          %h2
            = link_to "#{@user.nickname}さんのその他の出品"
          .product-details__other-items__section__content
            - @items.each_with_index do |item,i|
              = render partial: 'items/items-box', locals: { items: item, images: @images[i] }
      - unless @otheritems.blank?        
        %section.product-details__other-items__section
          %h2
            = link_to "#{@item.category.name} その他の商品"
          .product-details__other-items__section__content
            - @otheritems.each_with_index do |item,i|
              = render partial: 'items/items-box', locals: { items: item, images: @otherimages[i] }

    .product-details__pos-bottom
      %ul
        %li
          = link_to 'メルカリ', root_path
          = fa_icon 'chevron-right'
        %li
          %span
            = @item.name
